@use "sass:map";
@use "variables" as v;

@each $name, $value in v.$font-sizes {
  .type-#{$name} {
    font-family: v.$font-family;
    font-size: $value;
    line-height: map.get(v.$line-heights, $name);
  }
}

@each $name, $value in v.$font-weights {
  .type-#{$name} {
    font-weight: $value;
  }
}

.type-center {
  text-align: center;
}
.type-left {
  text-align: left;
}
.type-right {
  text-align: right;
}

.type-color-minor {
  color: v.$text-color-minor;
}
