@use "styles/reset";
@use "styles/layout";
@use "styles/boxes";
@use "styles/base";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
